body {
    padding-top: 60px; 
    /* 60px to make the container go all the way to the bottom of the topbar */
    height: 100%;
}
#map {
    height:100%;
    width:100%;
}
dt {
    text-transform: capitalize;
}
#footer .navbar-inner{
    min-height:15px;
}
#footer.navbar .nav > li > a{
    min-height:15px;
    padding:1px 5px 1px;
}

